th.price-table {
    border-right: 1px #339bce solid !important;
    padding: .5% .7%;
}

td.price-table {
    padding: .5% .7%;
    border: 1px #d6d6d6 solid !important;
    text-align: center;
}

.blue-gradient-vertical {
    background: #0083c3;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #0083c3 0%, #0081c2 14%, #0061ac 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0083c3), color-stop(14%, #0081c2), color-stop(100%, #0061ac));
    background: -webkit-linear-gradient(top, #0083c3 0%, #0081c2 14%, #0061ac 100%);
    background: -o-linear-gradient(top, #0083c3 0%, #0081c2 14%, #0061ac 100%);
    background: -ms-linear-gradient(top, #0083c3 0%, #0081c2 14%, #0061ac 100%);
    background: linear-gradient(to bottom, #0083c3 0%, #0081c2 14%, #0061ac 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0083c3', endColorstr='#0061ac', GradientType=0);
}


.gray-gradient-vertical {
    background: #dcdcdc;
    /*background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);*/
    background: -moz-linear-gradient(top, #dcdcdc 0%, #d3d3d3 14%, #c0c0c0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dcdcdc), color-stop(14%, #d3d3d3), color-stop(100%, #c0c0c0));
    background: -webkit-linear-gradient(top, #dcdcdc 0%, #d3d3d3 14%, #c0c0c0 100%);
    background: -o-linear-gradient(top, #dcdcdc 0%, #d3d3d3 14%, #c0c0c0 100%);
    background: -ms-linear-gradient(top, #dcdcdc 0%, #d3d3d3 14%, #c0c0c0 100%);
    background: linear-gradient(to bottom, #dcdcdc 0%, #d3d3d3 14%, #c0c0c0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dcdcdc', endColorstr='#c0c0c0', GradientType=0);
}

.not-transform {
    text-transform: none;
}

.white {
    color: #EEE;
}

.yellow {
    color:yellow;
}

td.table-head-color {
    background-color: rgb(252, 254, 252);
}

td.table-head-color-red {
    background-color: rgb(255, 235, 229);
}

td.table-head-color-green {
    background-color: rgb(224, 247, 222);
}

td.smaller, td.smaller div, td.smaller span, td.smaller a, td.smaller td, td.smaller strong, th div.smaller {
    font-size: 12px;
}

.jd-br-0 {
    border-radius:0;
}

.jd-f-sz-10 {
    font-size:10px;
}

.jd-inline {
    display:inline;
}

.jd-width-modal {
    width: 1200px !important;
}

.p-l-20 {
    padding-left: 20px !important;
}