<div class="container" data-ng-app="adminShow" data-ng-controller="showCtr">
    <div data-ng-include="main_navbar"></div>
    <div data-ng-include="admin_navbar"></div>

    <div class="row">
        <div class="col-xs-12">
            <center><div  id="jd_error_container" style="color: red;"></div></center>
        </div>
    </div>
    <div class="jd-f-left">
        <a class="btn btn-info hidden" href="javascript:void 0" id="jd_admin_show_edit">Edit</a>
    </div>
    <div class="jd-f-right">
        <a class="btn btn-danger hidden" href="javascript:void 0" id="jd_admin_show_delete">Delete</a>
    </div>
    <div id="admin_show_container"></div>
</div>