<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a id="jd_nav_admin_panel" class="navbar-brand" href="javascript:void 0;">Admin Panel</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-admin-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown" id="jd_nav_settings">
                    <a  href="javascript:void 0;" class="dropdown-toggle" data-toggle="dropdown"
                       role="button" aria-haspopup="true"
                       aria-expanded="false">Settings <span class="caret"></span></a>
                    <ul class="dropdown-menu  jd-nav-style">
                        <li id="rest_admin_settings_list" class="jd-f-none">
                            <a href="javascript:void 0;" target="_blank">Settings List</a>
                        </li>
                        <li id="rest_admin_settings_create" class="jd-f-none">
                            <a href="javascript:void 0;" target="_blank">Settings Create</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li id="rest_admin_sales_to_countries_list" class="jd-f-none">
                            <a href="javascript:void 0;" target="_blank">List Sales Responsible To Countries</a>
                        </li>
                        <li id="rest_admin_sales_to_countries_create" class="jd-f-none">
                            <a href="javascript:void 0;" target="_blank">Create Sales Responsible To Countries</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown" id="jd_nav_constants">
                    <a id="jd_nav_product_link" href="javascript:void 0;" class="dropdown-toggle" data-toggle="dropdown"
                       role="button" aria-haspopup="true"
                       aria-expanded="false">Constants <span class="caret"></span></a>
                    <ul class="dropdown-menu  jd-nav-style">
                        <li id="rest_admin_activity_category_list" class="jd-f-none">
                            <a href="javascript:void 0;" target="_blank">
                                List Activity Category
                            </a>
                        </li>
                        <li id="rest_admin_activity_category_create" class="jd-f-none">
                            <a href="javascript:void 0;" target="_blank">
                                Create Activity Category
                            </a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li id="rest_admin_activity_type_list" class="jd-f-none">
                            <a href="javascript:void 0;" target="_blank">
                                List Activity Type
                            </a>
                        </li>
                        <li id="rest_admin_activity_type_create" class="jd-f-none">
                            <a href="javascript:void 0;" target="_blank">
                                Create Activity Type
                            </a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li id="rest_admin_amenities_list" class="jd-f-none">
                            <a href="javascript:void 0;" target="_blank">
                                List Amenities
                            </a>
                        </li>
                        <li id="rest_admin_amenities_create" class="jd-f-none">
                            <a href="javascript:void 0;" target="_blank">
                                Create Amenities
                            </a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li id="rest_admin_cancellation_policy_list" class="jd-f-none">
                            <a href="javascript:void 0;" target="_blank">
                                List Cancellation Policy
                            </a>
                        </li>
                        <li id="rest_admin_cancellation_policy_create" class="jd-f-none">
                            <a href="javascript:void 0;" target="_blank">
                                Create Cancellation Policy
                            </a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li id="rest_admin_city_list"  class="jd-f-none">
                            <a href="javascript:void 0;" target="_blank">
                                List City
                            </a>
                        </li>
                        <li id="rest_admin_city_create" class="jd-f-none">
                            <a href="javascript:void 0;" target="_blank">
                                Create City
                            </a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li id="rest_admin_country_list" class="jd-f-none">
                            <a href="javascript:void 0;" target="_blank">
                                List Country
                            </a>
                        </li>
                        <li id="rest_admin_country_create" class="jd-f-none">
                            <a href="javascript:void 0;" target="_blank">
                                Create Country
                            </a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li id="rest_admin_language_list" class="jd-f-none">
                            <a href="javascript:void 0;" target="_blank">List Language</a>
                        </li>
                        <li id="rest_admin_language_create" class="jd-f-none">
                            <a href="javascript:void 0;" target="_blank">
                                Create Language
                            </a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li id="rest_admin_physical_level_list" class="jd-f-none">
                            <a href="javascript:void 0;" target="_blank">
                                List Physical Level
                            </a>
                        </li>
                        <li id="rest_admin_physical_level_create" class="jd-f-none">
                            <a href="javascript:void 0;" target="_blank">
                                Create Physical Level
                            </a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li id="rest_admin_product_category_list" class="jd-f-none">
                            <a href="javascript:void 0;" target="_blank">
                                List Product Category
                            </a>
                        </li>
                        <li id="rest_admin_product_category_create" class="jd-f-none">
                            <a href="javascript:void 0;" target="_blank">
                                Create Product Category
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown" id="jd_nav_templates">
                    <a id="jd_nav_report_link" href="javascript:void 0;" class="dropdown-toggle" data-toggle="dropdown"
                       role="button" aria-haspopup="true"
                       aria-expanded="false">Templates <span class="caret"></span></a>
                    <ul class="dropdown-menu  jd-nav-style">
                        <li id="rest_admin_autoresponder_list" class="jd-f-none">
                            <a href="javascript:void 0;" target="_blank">List Autoresponder</a>
                        </li>
                        <li id="rest_admin_autoresponder_create" class="jd-f-none">
                            <a href="javascript:void 0;" target="_blank">Create Autoresponder</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li id="rest_admin_document_list" class="jd-f-none">
                            <a href="javascript:void 0;" target="_blank">List Document</a>
                        </li>
                        <li id="rest_admin_document_create" class="jd-f-none">
                            <a href="javascript:void 0;" target="_blank">Create Document</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li id="rest_admin_mail_list" class="jd-f-none">
                            <a href="javascript:void 0;" target="_blank">List Mail</a>
                        </li>
                        <li id="rest_admin_mail_create" class="jd-f-none">
                            <a href="javascript:void 0;" target="_blank">Create Mail</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li id="rest_admin_template_list" class="jd-f-none">
                            <a href="javascript:void 0;" target="_blank">List Template</a>
                        </li>
                        <li id="rest_admin_template_create" class="jd-f-none">
                            <a href="javascript:void 0;" target="_blank">Create Template</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li id="rest_admin_voucher_list" class="jd-f-none">
                            <a href="javascript:void 0;" target="_blank">List Vouchers</a>
                        </li>
                        <li id="rest_admin_voucher_create" class="jd-f-none">
                            <a href="javascript:void 0;" target="_blank">Create Vouchers</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown" id="jd_nav_confirm">
                    <a  href="javascript:void 0;" class="dropdown-toggle" data-toggle="dropdown"
                        role="button" aria-haspopup="true"
                        aria-expanded="false">Confirm <span class="caret"></span></a>
                    <ul class="dropdown-menu  jd-nav-style">
                        <li id="rest_admin_confirm_user" class="jd-f-none">
                            <a href="javascript:void 0;" target="_blank">Confirm User</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li id="rest_admin_confirm_provider" class="jd-f-none">
                            <a href="javascript:void 0;" target="_blank">Confirm Provider</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown" id="jd_nav_subscriptions">
                    <a  href="javascript:void 0;" class="dropdown-toggle" data-toggle="dropdown"
                        role="button" aria-haspopup="true"
                        aria-expanded="false">Subscriptions <span class="caret"></span></a>
                    <ul class="dropdown-menu  jd-nav-style">
                        <li id="rest_admin_subscriptions_list" class="jd-f-none">
                            <a href="javascript:void 0;" target="_blank">List Subscriptions</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li id="rest_admin_subscriber_add" class="jd-f-none">
                            <a href="javascript:void 0;" target="_blank">Add Subscriber</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li id="rest_admin_notification_send" class="jd-f-none">
                            <a href="javascript:void 0;" target="_blank">Send Notification</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<script>
    function jd_admin_navbar_links() {
        var settings_create = document.querySelector('#rest_admin_settings_create a');

        if (settings_create) {
            settings_create.setAttribute('href', rest_admin_settings_create)
        }
        var settings_list = document.querySelector('#rest_admin_settings_list a');
        if (settings_list) {
            settings_list.setAttribute('href', rest_admin_settings_list)
        }

        var sales_to_countries_create = document.querySelector('#rest_admin_sales_to_countries_create a');

        if (sales_to_countries_create) {
            sales_to_countries_create.setAttribute('href', rest_admin_sales_to_countries_create)
        }
        var sales_to_countries_list = document.querySelector('#rest_admin_sales_to_countries_list a');
        if (sales_to_countries_list) {
            sales_to_countries_list.setAttribute('href', rest_admin_sales_to_countries_list)
        }


        var activity_category_create = document.querySelector('#rest_admin_activity_category_create a');

        if (activity_category_create) {
            activity_category_create.setAttribute('href', rest_admin_activity_category_create)
        }
        var activity_category_list = document.querySelector('#rest_admin_activity_category_list a');
        if (activity_category_list) {
            activity_category_list.setAttribute('href', rest_admin_activity_category_list)
        }

        var activity_type_create = document.querySelector('#rest_admin_activity_type_create a');

        if (activity_type_create) {
            activity_type_create.setAttribute('href', rest_admin_activity_type_create)
        }
        var activity_type_list = document.querySelector('#rest_admin_activity_type_list a');
        if (activity_type_list) {
            activity_type_list.setAttribute('href', rest_admin_activity_type_list)
        }

        var amenities_create = document.querySelector('#rest_admin_amenities_create a');

        if (amenities_create) {
            amenities_create.setAttribute('href', rest_admin_amenities_create)
        }
        var amenities_list = document.querySelector('#rest_admin_amenities_list a');
        if (amenities_list) {
            amenities_list.setAttribute('href', rest_admin_amenities_list)
        }

        var cancellation_policy_create = document.querySelector('#rest_admin_cancellation_policy_create a');

        if (cancellation_policy_create) {
            cancellation_policy_create.setAttribute('href', rest_admin_cancellation_policy_create)
        }
        var cancellation_policy_list = document.querySelector('#rest_admin_cancellation_policy_list a');
        if (cancellation_policy_list) {
            cancellation_policy_list.setAttribute('href', rest_admin_cancellation_policy_list)
        }

        var city_create = document.querySelector('#rest_admin_city_create a');

        if (city_create) {
            city_create.setAttribute('href', rest_admin_city_create)
        }
        var city_list = document.querySelector('#rest_admin_city_list a');
        if (city_list) {
            city_list.setAttribute('href', rest_admin_city_list)
        }

        var country_create = document.querySelector('#rest_admin_country_create a');

        if (country_create) {
            country_create.setAttribute('href', rest_admin_country_create)
        }
        var country_list = document.querySelector('#rest_admin_country_list a');
        if (country_list) {
            country_list.setAttribute('href', rest_admin_country_list)
        }

        var language_create = document.querySelector('#rest_admin_language_create a');

        if (language_create) {
            language_create.setAttribute('href', rest_admin_language_create)
        }
        var language_list = document.querySelector('#rest_admin_language_list a');
        if (language_list) {
            language_list.setAttribute('href', rest_admin_language_list)
        }

        var physical_level_create = document.querySelector('#rest_admin_physical_level_create a');

        if (physical_level_create) {
            physical_level_create.setAttribute('href', rest_admin_physical_level_create)
        }
        var physical_level_list = document.querySelector('#rest_admin_physical_level_list a');
        if (physical_level_list) {
            physical_level_list.setAttribute('href', rest_admin_physical_level_list)
        }

        var product_category_create = document.querySelector('#rest_admin_product_category_create a');

        if (product_category_create) {
            product_category_create.setAttribute('href', rest_admin_product_category_create)
        }
        var product_category_list = document.querySelector('#rest_admin_product_category_list a');
        if (product_category_list) {
            product_category_list.setAttribute('href', rest_admin_product_category_list)
        }

        var autoresponder_create = document.querySelector('#rest_admin_autoresponder_create a');

        if (autoresponder_create) {
            autoresponder_create.setAttribute('href', rest_admin_autoresponder_create)
        }
        var autoresponder_list = document.querySelector('#rest_admin_autoresponder_list a');
        if (autoresponder_list) {
            autoresponder_list.setAttribute('href', rest_admin_autoresponder_list)
        }

        var document_create = document.querySelector('#rest_admin_document_create a');

        if (document_create) {
            document_create.setAttribute('href', rest_admin_document_create)
        }
        var document_list = document.querySelector('#rest_admin_document_list a');
        if (document_list) {
            document_list.setAttribute('href', rest_admin_document_list)
        }

        var mail_create = document.querySelector('#rest_admin_mail_create a');

        if (mail_create) {
            mail_create.setAttribute('href', rest_admin_mail_create)
        }
        var mail_list = document.querySelector('#rest_admin_mail_list a');
        if (mail_list) {
            mail_list.setAttribute('href', rest_admin_mail_list)
        }

        var template_create = document.querySelector('#rest_admin_template_create a');

        if (template_create) {
            template_create.setAttribute('href', rest_admin_template_create)
        }
        var template_list = document.querySelector('#rest_admin_template_list a');
        if (template_list) {
            template_list.setAttribute('href', rest_admin_template_list)
        }

        var voucher_create = document.querySelector('#rest_admin_voucher_create a');

        if (voucher_create) {
            voucher_create.setAttribute('href', rest_admin_voucher_create)
        }
        var voucher_list = document.querySelector('#rest_admin_voucher_list a');
        if (voucher_list) {
            voucher_list.setAttribute('href', rest_admin_voucher_list)
        }

        var confirm_user = document.querySelector('#rest_admin_confirm_user a');
        if (confirm_user) {
            confirm_user.setAttribute('href', rest_admin_confirm_user)
        }

        var confirm_provider = document.querySelector('#rest_admin_confirm_provider a');
        if (confirm_provider) {
            confirm_provider.setAttribute('href', rest_admin_confirm_provider)
        }

        var subscriptions_list = document.querySelector('#rest_admin_subscriptions_list a');
        if (subscriptions_list) {
            subscriptions_list.setAttribute('href', rest_admin_subscriptions_list)
        }

        var subscriber_add = document.querySelector('#rest_admin_subscriber_add a');
        if (subscriber_add) {
            subscriber_add.setAttribute('href', rest_admin_subscriber_add)
        }

        var notification_send = document.querySelector('#rest_admin_notification_send a');
        if (notification_send) {
            notification_send.setAttribute('href', rest_admin_notification_send)
        }
    }
    jd_admin_navbar_links();
</script>