<div class="container" data-ng-app="booking" data-ng-controller="bookingCtr">
    <div data-ng-include="main_navbar"></div>
    <div data-ng-include="admin_navbar"></div>
    <div class="row">
        <div class="col-xs-12">
            <center>
                <div id="jd_error_container" style="color: red;"></div>
            </center>
        </div>
    </div>
    <div class="jd-f-left">
        <a class="btn btn-info hidden" href="javascript:void 0" id="jd_booking_show_edit">Edit Booking</a>
    </div>
    <div class="jd-f-right">
        <a class="btn btn-danger hidden" href="javascript:void 0" id="jd_booking_show_delete">Delete Booking</a>
    </div>
    <div id="booking_show_container"></div>
</div>