<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a id="jd_nav_home" class="navbar-brand" href="javascript:void 0;">Home</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown" id="jd_nav_user">
                    <a id="jd_nav_user_link" href="javascript:void 0;"
                       class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">User <span class="caret"></span></a>
                    <ul class="dropdown-menu  jd-nav-style">
                        <li id="jd_nav_user_list" class="jd-f-none">
                            <a href="javascript:void 0;" target="_blank">List</a>
                        </li>
                        <li id="jd_nav_user_create" class="jd-f-none">
                            <a href="javascript:void 0;" target="_blank">Create</a>
                        </li>
                        <li id="jd_nav_user_search" class="jd-f-none">
                            <a href="javascript:void 0;" target="_blank">Search</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown" id="jd_nav_product">
                    <a id="jd_nav_product_link" href="javascript:void 0;"
                       class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Product <span class="caret"></span></a>
                    <ul class="dropdown-menu  jd-nav-style">
                        <li id="jd_nav_product_list" class="jd-f-none">
                            <a href="javascript:void 0;" target="_blank">List Product</a>
                        </li>
                        <li id="jd_nav_product_create" class="jd-f-none">
                            <a href="javascript:void 0;" target="_blank">Create Product</a>
                        </li>
                        <li id="jd_nav_product_search" class="jd-f-none">
                            <a href="javascript:void 0;" target="_blank">Search Product</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li id="jd_nav_discount_to_offer_list" class="jd-f-none">
                            <a href="javascript:void 0;" target="_blank">List Discount To Offer</a>
                        </li>
                        <li id="jd_nav_discount_to_offer_create" class="jd-f-none">
                            <a href="javascript:void 0;" target="_blank">Create Discount To Offer</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li id="jd_nav_product_info_to_amenities_add_list" class="jd-f-none">
                            <a href="javascript:void 0;" target="_blank">List Product Info To Amenities Add</a>
                        </li>
                        <li id="jd_nav_product_info_to_amenities_add_create" class="jd-f-none">
                            <a href="javascript:void 0;" target="_blank">Create Product Info To Amenities Add</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li id="jd_nav_product_info_to_amenities_remove_list" class="jd-f-none">
                            <a href="javascript:void 0;" target="_blank">List Product Info To Amenities Remove</a>
                        </li>
                        <li id="jd_nav_product_info_to_amenities_remove_create" class="jd-f-none">
                            <a href="javascript:void 0;" target="_blank">Create Product Info To Amenities Remove</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li id="jd_nav_product_info_to_language_list" class="jd-f-none">
                            <a href="javascript:void 0;" target="_blank">List Product Info To Language</a>
                        </li>
                        <li id="jd_nav_product_info_to_language_create" class="jd-f-none">
                            <a href="javascript:void 0;" target="_blank">Create Product Info To Language</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown" id="jd_nav_booking">
                    <a id="jd_nav_booking_link" href="javascript:void 0;"
                       class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Booking <span class="caret"></span></a>
                    <ul class="dropdown-menu  jd-nav-style">
                        <li id="jd_nav_booking_list" class="jd-f-none">
                            <a href="javascript:void 0;" target="_blank">List</a>
                        </li>
                        <li id="jd_nav_booking_create" class="jd-f-none">
                            <a href="javascript:void 0;" target="_blank">Create</a>
                        </li>
                        <li id="jd_nav_booking_search">
                            <a href="javascript:void 0;" target="_blank">Search</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown" id="jd_nav_payment">
                    <a  id="jd_nav_payment_link" href="javascript:void 0;"
                        class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Payment <span class="caret"></span></a>
                    <ul class="dropdown-menu  jd-nav-style">
                        <li id="jd_nav_payment_list" class="jd-f-none">
                            <a href="javascript:void 0;" target="_blank">List</a>
                        </li>
                        <li id="jd_nav_payment_search" class="jd-f-none">
                            <a href="javascript:void 0;" target="_blank">Search</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown" id="jd_nav_message">
                    <a  id="jd_nav_message_link" href="javascript:void 0;"
                        class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                        aria-expanded="false">Message <span class="caret"></span></a>
                    <ul class="dropdown-menu  jd-nav-style">
                        <li id="jd_nav_messenger" class="jd-f-none">
                            <a href="javascript:void 0;" target="_blank">Messenger</a>
                        </li>
                        <li id="jd_nav_message_list" class="jd-f-none">
                            <a href="javascript:void 0;" target="_blank">List</a>
                        </li>
                        <li id="jd_nav_message_search" class="jd-f-none">
                            <a href="javascript:void 0;" target="_blank">Search</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown" id="jd_nav_report">
                    <a  id="jd_nav_report_link" href="javascript:void 0;"
                        class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                        aria-expanded="false">Reports <span class="caret"></span></a>
                    <ul class="dropdown-menu  jd-nav-style">
                        <li id="jd_nav_report_resellers" class="jd-f-none">
                            <a href="javascript:void 0;" target="_blank">Resellers All</a>
                        </li>
                        <li id="jd_nav_report_resellers_active" class="jd-f-none">
                            <a href="javascript:void 0;" target="_blank">Resellers Active</a>
                        </li>
                        <li id="jd_nav_report_affiliates" class="jd-f-none">
                            <a href="javascript:void 0;" target="_blank">Affiliates All</a>
                        </li>
                        <li id="jd_nav_report_affiliates_active" class="jd-f-none">
                            <a href="javascript:void 0;" target="_blank">Affiliates Active</a>
                        </li>
                        <li id="jd_nav_report_customers" class="jd-f-none">
                            <a href="javascript:void 0;" target="_blank">Customers</a>
                        </li>
                        <li id="jd_nav_report_beneficiaries" class="jd-f-none">
                            <a href="javascript:void 0;" target="_blank">Beneficiaries</a>
                        </li>
                        <li id="jd_nav_report_providers" class="jd-f-none">
                            <a href="javascript:void 0;" target="_blank">Providers</a>
                        </li>
                        <li id="jd_nav_report_jourday_provider" class="jd-f-none">
                            <a href="javascript:void 0;" target="_blank">Jourday Provider</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li id="jd_nav_report_upcoming_products" class="jd-f-none">
                            <a href="javascript:void 0;" target="_blank">Upcoming Products</a>
                        </li>
                        <li id="jd_nav_report_live_products" class="jd-f-none">
                            <a href="javascript:void 0;" target="_blank">Live Products</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li id="jd_nav_report_payable" class="jd-f-none">
                            <a href="javascript:void 0;" target="_blank">Payable</a>
                        </li>
                        <li id="jd_nav_report_paid" class="jd-f-none">
                            <a href="javascript:void 0;" target="_blank">Paid</a>
                        </li>
                        <li id="jd_nav_report_receivables" class="jd-f-none">
                            <a href="javascript:void 0;" target="_blank">Receivables</a>
                        </li>
                        <li id="jd_nav_report_totals" class="jd-f-none">
                            <a href="javascript:void 0;" target="_blank">Totals</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li id="jd_nav_report_comment" class="jd-f-none">
                            <a href="javascript:void 0;" target="_blank">Comment</a>
                        </li>
                        <li id="jd_nav_report_review" class="jd-f-none">
                            <a href="javascript:void 0;" target="_blank">Review</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" id="jd_nav_profile">
                    <a id="jd_nav_profile_link" href="javascript:void 0;"
                       class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Profile <span class="caret"></span></a>
                    <ul class="dropdown-menu  jd-nav-style">
                        <li id="jd_nav_profile_show" class="jd-f-none">
                            <a href="javascript:void 0;" target="_blank">Show Profile</a>
                        </li>
                        <li id="jd_nav_profile_edit" class="jd-f-none">
                            <a href="javascript:void 0;" target="_blank">Edit Profile</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li id="jd_nav_profile_autoresponder" class="jd-f-none">
                            <a href="javascript:void 0;" target="_blank">Autoresponder</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li id="jd_nav_logout" >
                            <a href="javascript:void 0;"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
                        </li>
                    </ul>
                </li>
                <li id="jd_nav_unauthorized">
                    <a id="jd_nav_log" href="javascript:void 0;"
                       class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Login/SignUp <span class="caret"></span></a>
                    <ul  class="dropdown-menu  jd-nav-style">
                        <li id="jd_nav_login">
                            <a href="javascript:void 0;"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                        </li>
                        <li id="jd_nav_signup">
                            <a href="javascript:void 0;"> SignUp</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<script>
    function jd_navbar_links() {
        var jd_nav_user_link = document.getElementById('jd_nav_user_link');

        if (jd_nav_user_link) {
            jd_nav_user_link.setAttribute('href', jd_user_list_url)
        }
        var jd_nav_user_list = document.querySelector('#jd_nav_user_list a');
        if (jd_nav_user_list) {
            jd_nav_user_list.setAttribute('href', jd_user_list_url)
        }

        var jd_nav_user_create = document.querySelector('#jd_nav_user_create a');
        if (jd_nav_user_create) {
            jd_nav_user_create.setAttribute('href', jd_user_create_url)
        }

        var jd_nav_user_search = document.querySelector('#jd_nav_user_search a');
        if (jd_nav_user_search) {
            jd_nav_user_search.setAttribute('href', jd_user_search_url)
        }


        var jd_nav_product_link = document.getElementById('jd_nav_product_link');
        if (jd_nav_product_link) {
            jd_nav_product_link.setAttribute('href', jd_product_list_url)
        }
        var jd_nav_product_list = document.querySelector('#jd_nav_product_list a');
        if (jd_nav_product_list) {
            jd_nav_product_list.setAttribute('href', jd_product_list_url)
        }

        var jd_nav_product_create = document.querySelector('#jd_nav_product_create a');
        if (jd_nav_product_create) {
            jd_nav_product_create.setAttribute('href', jd_product_create_url)
        }
        var jd_nav_product_search = document.querySelector('#jd_nav_product_search a');
        if (jd_nav_product_search) {
            jd_nav_product_search.setAttribute('href', jd_product_search_url)
        }

        var jd_nav_discount_to_offer_list = document.querySelector('#jd_nav_discount_to_offer_list a');
        if (jd_nav_discount_to_offer_list) {
            jd_nav_discount_to_offer_list.setAttribute('href', jd_discount_to_offer_list_url)
        }

        var jd_nav_discount_to_offer_create = document.querySelector('#jd_nav_discount_to_offer_create a');
        if (jd_nav_discount_to_offer_create) {
            jd_nav_discount_to_offer_create.setAttribute('href', jd_discount_to_offer_create_url)
        }

        var jd_nav_product_info_to_amenities_add_list = document.querySelector('#jd_nav_product_info_to_amenities_add_list a');
        if (jd_nav_product_info_to_amenities_add_list) {
            jd_nav_product_info_to_amenities_add_list.setAttribute('href', jd_product_to_amenities_add_list_url)
        }

        var jd_nav_product_info_to_amenities_add_create = document.querySelector('#jd_nav_product_info_to_amenities_add_create a');
        if (jd_nav_product_info_to_amenities_add_create) {
            jd_nav_product_info_to_amenities_add_create.setAttribute('href', jd_product_to_amenities_add_create_url)
        }

        var jd_nav_product_info_to_amenities_remove_list = document.querySelector('#jd_nav_product_info_to_amenities_remove_list a');
        if (jd_nav_product_info_to_amenities_remove_list) {
            jd_nav_product_info_to_amenities_remove_list.setAttribute('href', jd_product_to_amenities_remove_list_url)
        }

        var jd_nav_product_info_to_amenities_remove_create = document.querySelector('#jd_nav_product_info_to_amenities_remove_create a');
        if (jd_nav_product_info_to_amenities_remove_create) {
            jd_nav_product_info_to_amenities_remove_create.setAttribute('href', jd_product_to_amenities_remove_create_url)
        }

        var jd_nav_product_info_to_language_list = document.querySelector('#jd_nav_product_info_to_language_list a');
        if (jd_nav_product_info_to_language_list) {
            jd_nav_product_info_to_language_list.setAttribute('href', jd_product_to_language_list_url)
        }

        var jd_nav_product_info_to_language_create = document.querySelector('#jd_nav_product_info_to_language_create a');
        if (jd_nav_product_info_to_language_create) {
            jd_nav_product_info_to_language_create.setAttribute('href', jd_product_to_language_create_url)
        }


        var jd_nav_booking_link = document.getElementById('jd_nav_booking_link');
        if (jd_nav_booking_link) {
            jd_nav_booking_link.setAttribute('href', jd_booking_list_url)
        }
        var jd_nav_booking_list = document.querySelector('#jd_nav_booking_list a');
        if (jd_nav_booking_list) {
            jd_nav_booking_list.setAttribute('href', jd_booking_list_url)
        }

        var jd_nav_booking_create = document.querySelector('#jd_nav_booking_create a');
        if (jd_nav_booking_create) {
            jd_nav_booking_create.setAttribute('href', jd_booking_create_url)
        }
        var jd_nav_booking_search = document.querySelector('#jd_nav_booking_search a');
        if (jd_nav_booking_search) {
            jd_nav_booking_search.setAttribute('href', jd_booking_search_url)
        }

        var jd_nav_message_link = document.getElementById('jd_nav_message_link');
        if (jd_nav_message_link) {
            jd_nav_message_link.setAttribute('href', jd_message_list_url)
        }
        var jd_nav_message_list = document.querySelector('#jd_nav_message_list a');
        if (jd_nav_message_list) {
            jd_nav_message_list.setAttribute('href', jd_message_list_url)
        }
        var jd_nav_message_search = document.querySelector('#jd_nav_message_search a');
        if (jd_nav_message_search) {
            jd_nav_message_search.setAttribute('href', jd_message_search_url)
        }

        var jd_nav_payment_link = document.getElementById('jd_nav_payment_link');
        if (jd_nav_payment_link) {
            jd_nav_payment_link.setAttribute('href', jd_payment_list_url)
        }
        var jd_nav_payment_list = document.querySelector('#jd_nav_payment_list a');
        if (jd_nav_payment_list) {
            jd_nav_payment_list.setAttribute('href', jd_payment_list_url)
        }
        var jd_nav_payment_search = document.querySelector('#jd_nav_payment_search a');
        if (jd_nav_payment_search) {
            jd_nav_payment_search.setAttribute('href', jd_payment_search_url)
        }

        var jd_nav_report_resellers = document.querySelector('#jd_nav_report_resellers a');
        if (jd_nav_report_resellers) {
            jd_nav_report_resellers.setAttribute('href', jd_resellers_list_url)
        }
        var jd_nav_report_resellers_active = document.querySelector('#jd_nav_report_resellers_active a');
        if (jd_nav_report_resellers_active) {
            jd_nav_report_resellers_active.setAttribute('href', jd_resellers_active_list_url)
        }
        var jd_nav_report_affiliates = document.querySelector('#jd_nav_report_affiliates a');
        if (jd_nav_report_affiliates) {
            jd_nav_report_affiliates.setAttribute('href', jd_affiliates_list_url)
        }
        var jd_nav_report_affiliates_active = document.querySelector('#jd_nav_report_affiliates_active a');
        if (jd_nav_report_affiliates_active) {
            jd_nav_report_affiliates_active.setAttribute('href', jd_affiliates_active_list_url)
        }
        var jd_nav_report_customers = document.querySelector('#jd_nav_report_customers a');
        if (jd_nav_report_customers) {
            jd_nav_report_customers.setAttribute('href', jd_customers_list_url)
        }
        var jd_nav_report_beneficiaries = document.querySelector('#jd_nav_report_beneficiaries a');
        if (jd_nav_report_beneficiaries) {
            jd_nav_report_beneficiaries.setAttribute('href', jd_beneficiaries_list_url)
        }
        var jd_nav_report_providers = document.querySelector('#jd_nav_report_providers a');
        if (jd_nav_report_providers) {
            jd_nav_report_providers.setAttribute('href', jd_providers_list_url)
        }
        var jd_nav_report_jourday_provider = document.querySelector('#jd_nav_report_jourday_provider a');
        if (jd_nav_report_jourday_provider) {
            jd_nav_report_jourday_provider.setAttribute('href', jd_jourday_provider_list_url)
        }
        var jd_nav_report_upcoming_products = document.querySelector('#jd_nav_report_upcoming_products a');
        if (jd_nav_report_upcoming_products) {
            jd_nav_report_upcoming_products.setAttribute('href', jd_upcoming_products_list_url)
        }
        var jd_nav_report_live_products = document.querySelector('#jd_nav_report_live_products a');
        if (jd_nav_report_live_products) {
            jd_nav_report_live_products.setAttribute('href', jd_live_products_list_url)
        }
        var jd_nav_report_payable = document.querySelector('#jd_nav_report_payable a');
        if (jd_nav_report_payable) {
            jd_nav_report_payable.setAttribute('href', jd_payable_list_url)
        }
        var jd_nav_report_paid = document.querySelector('#jd_nav_report_paid a');
        if (jd_nav_report_paid) {
            jd_nav_report_paid.setAttribute('href', jd_paid_list_url)
        }
        var jd_nav_report_receivables = document.querySelector('#jd_nav_report_receivables a');
        if (jd_nav_report_receivables) {
            jd_nav_report_receivables.setAttribute('href', jd_receivables_list_url)
        }
        var jd_nav_report_totals = document.querySelector('#jd_nav_report_totals a');
        if (jd_nav_report_totals) {
            jd_nav_report_totals.setAttribute('href', jd_totals_list_url)
        }
        var jd_nav_report_comment = document.querySelector('#jd_nav_report_comment a');
        if (jd_nav_report_comment) {
            jd_nav_report_comment.setAttribute('href', jd_comment_list_url)
        }
        var jd_nav_report_review = document.querySelector('#jd_nav_report_review a');
        if (jd_nav_report_review) {
            jd_nav_report_review.setAttribute('href', jd_review_list_url)
        }


        var jd_nav_profile_link = document.getElementById('jd_nav_profile_link');
        if (jd_nav_profile_link) {
            jd_nav_profile_link.setAttribute('href', jd_profile_url)
        }
        var jd_nav_profile_show = document.querySelector('#jd_nav_profile_show a');
        if (jd_nav_profile_show) {
            jd_nav_profile_show.setAttribute('href', jd_profile_url)
        }
        var jd_nav_profile_edit = document.querySelector('#jd_nav_profile_edit a');
        if (jd_nav_profile_edit) {
            jd_nav_profile_edit.setAttribute('href', jd_profile_edit_url)
        }

        var jd_nav_login = document.querySelector('#jd_nav_login a');
        if (jd_nav_login) {
            jd_nav_login.setAttribute('href', jd_login_url)
        }

        var jd_nav_signup = document.querySelector('#jd_nav_signup a');
        if (jd_nav_signup) {
            jd_nav_signup.setAttribute('href', jd_profile_create_url)
        }

        var jd_nav_profile_create = document.querySelector('#jd_nav_profile_create a');
        if (jd_nav_profile_create) {
            jd_nav_profile_create.setAttribute('href', jd_profile_create_url)
        }

        var jd_nav_profile_autoresponder = document.querySelector('#jd_nav_profile_autoresponder a');
        if (jd_nav_profile_autoresponder) {
            jd_nav_profile_autoresponder.setAttribute('href', jd_profile_autoresponder_url)
        }

        var jd_nav_messenger = document.querySelector('#jd_nav_messenger a');
        if (jd_nav_messenger) {
            jd_nav_messenger.setAttribute('href', jd_messenger_url)
        }

        var jd_nav_home = document.getElementById('jd_nav_home');
        if (jd_nav_home) {
            jd_nav_home.setAttribute('href', jd_home_url)
        }

    }

    function jd_auth_remove_excess() {
        var el = null;
        if ([
            'Unauthorized'
        ].indexOf(jd_get_roles()) === -1) {
            el = document.getElementById('jd_nav_unauthorized');
            if (el) {
                el.parentNode.removeChild(el);
            }
        } else {
            el = document.getElementById('jd_nav_profile');
            if (el) {
                el.parentNode.removeChild(el);
            }
        }
    }

    function jd_user_remove_excess() {
        var el = null;
        if ([
            'Admin',
            'JourdayProvider',
            'ActivityProvider',
            'CustomerSupport',
            'SalesResponsible',
            'Reseller'
        ].indexOf(jd_get_roles()) === -1) {
            el = document.getElementById('jd_nav_user');
            if (el) {
                el.parentNode.removeChild(el);
            }
        }
        if ([
            'Admin'
        ].indexOf(jd_get_roles()) === -1) {
            el = document.getElementById('jd_nav_user_create');
            if (el) {
                el.parentNode.removeChild(el);
            }
        }
    }

    function jd_product_remove_excess() {
        var el = null;
        if ([
            'Admin',
            'JourdayProvider',
            'ActivityProvider',
            'CustomerSupport',
            'SalesResponsible',
            'JourdayBeneficiary',
            'Reseller'
        ].indexOf(jd_get_roles()) === -1) {
            el = document.getElementById('jd_nav_product');
            if (el) {
                el.parentNode.removeChild(el);
            }
        }
    }

    function jd_booking_remove_excess() {
        var el = null;
        if ([
            'Admin',
            'JourdayProvider',
            'ActivityProvider',
            'CustomerSupport',
            'SalesResponsible',
            'JourdayBeneficiary',
            'Reseller'
        ].indexOf(jd_get_roles()) === -1) {
            el = document.getElementById('jd_nav_booking');
            if (el) {
                el.parentNode.removeChild(el);
            }
        }
    }

    function jd_payment_remove_excess() {
        var el = null;
        if ([
            'Admin',
            'JourdayProvider',
            'ActivityProvider',
            'CustomerSupport',
            'SalesResponsible',
            'JourdayBeneficiary',
            'Reseller'
        ].indexOf(jd_get_roles()) === -1) {
            el = document.getElementById('jd_nav_payment');
            if (el) {
                el.parentNode.removeChild(el);
            }
        }
    }

    function jd_message_remove_excess() {
        var el = null;
        if ([
            'Admin',
            'JourdayProvider',
            'ActivityProvider',
            'CustomerSupport',
            'SalesResponsible',
            'JourdayBeneficiary',
            'Reseller'
        ].indexOf(jd_get_roles()) === -1) {
            el = document.getElementById('jd_nav_message');
            if (el) {
                el.parentNode.removeChild(el);
            }
        }
    }

    function jd_reports_remove_excess() {
        var el = null;
        if ([
            'Admin',
            'JourdayProvider',
            'ActivityProvider',
            'CustomerSupport',
            'SalesResponsible',
            'JourdayBeneficiary',
            'Reseller'
        ].indexOf(jd_get_roles()) === -1) {
            el = document.getElementById('jd_nav_report');
            if (el) {
                el.parentNode.removeChild(el);
            }
        }
    }

    function jd_report_remove_excess() {
        var el = null;
        if ([
            'Admin',
            'JourdayProvider',
            'ActivityProvider',
            'CustomerSupport',
            'SalesResponsible',
            'Traveler'
        ].indexOf(jd_get_roles()) === -1) {
            el = document.getElementById('jd_nav_report_resellers');
            if (el) {
                el.parentNode.removeChild(el);
            }
        }
        if (el) {
            el = null;
        }
        if ([
            'Admin',
            'JourdayProvider',
            'ActivityProvider',
            'CustomerSupport',
            'SalesResponsible'
        ].indexOf(jd_get_roles()) === -1) {
            el = document.getElementById('jd_nav_report_resellers_active');
            if (el) {
                el.parentNode.removeChild(el);
            }
        }
        if (el) {
            el = null;
        }
        if ([
            'Admin',
            'JourdayProvider',
            'ActivityProvider',
            'CustomerSupport',
            'SalesResponsible',
            'Reseller'
        ].indexOf(jd_get_roles()) === -1) {
            el = document.getElementById('jd_nav_report_affiliates');
            if (el) {
                el.parentNode.removeChild(el);
            }
        }
        if (el) {
            el = null;
        }
        if ([
            'Admin',
            'JourdayProvider',
            'ActivityProvider',
            'CustomerSupport',
            'SalesResponsible',
            'Reseller'
        ].indexOf(jd_get_roles()) === -1) {
            el = document.getElementById('jd_nav_report_affiliates_active');
            if (el) {
                el.parentNode.removeChild(el);
            }
        }
        if (el) {
            el = null;
        }
        if ([
            'Admin',
            'JourdayProvider',
            'CustomerSupport',
            'SalesResponsible',
            'Reseller'
        ].indexOf(jd_get_roles()) === -1) {
            el = document.getElementById('jd_nav_report_customers');
            if (el) {
                el.parentNode.removeChild(el);
            }
        }
        if (el) {
            el = null;
        }
        if ([
            'Admin',
            'JourdayProvider'
        ].indexOf(jd_get_roles()) === -1) {
            el = document.getElementById('jd_nav_report_beneficiaries');
            if (el) {
                el.parentNode.removeChild(el);
            }
        }
        if (el) {
            el = null;
        }
        if ([
            'Admin'
        ].indexOf(jd_get_roles()) === -1) {
            el = document.getElementById('jd_nav_report_providers');
            if (el) {
                el.parentNode.removeChild(el);
            }
        }
        if (el) {
            el = null;
        }
        if ([
            'Admin'
        ].indexOf(jd_get_roles()) === -1) {
            el = document.getElementById('jd_nav_report_jourday_provider');
            if (el) {
                el.parentNode.removeChild(el);
            }
        }
        if (el) {
            el = null;
        }
        if ([
            'Admin',
            'CustomerSupport',
            'SalesResponsible'
        ].indexOf(jd_get_roles()) === -1) {
            el = document.getElementById('jd_nav_report_upcoming_products');
            if (el) {
                el.parentNode.removeChild(el);
            }
        }
        if (el) {
            el = null;
        }
        if ([
            'Admin',
            'JourdayProvider',
            'CustomerSupport',
            'SalesResponsible'
        ].indexOf(jd_get_roles()) === -1) {
            el = document.getElementById('jd_nav_report_live_products');
            if (el) {
                el.parentNode.removeChild(el);
            }
        }
        if (el) {
            el = null;
        }
        if ([
            'Admin',
            'JourdayProvider',
            'JourdayBeneficiary',
            'ActivityProvider'
        ].indexOf(jd_get_roles()) === -1) {
            el = document.getElementById('jd_nav_report_payable');
            if (el) {
                el.parentNode.removeChild(el);
            }
        }
        if (el) {
            el = null;
        }
        if ([
            'Admin',
            'JourdayProvider',
            'SalesResponsible'
        ].indexOf(jd_get_roles()) === -1) {
            el = document.getElementById('jd_nav_report_paid');
            if (el) {
                el.parentNode.removeChild(el);
            }
        }
        if (el) {
            el = null;
        }
        if ([
            'Admin',
            'Reseller',
            'Affiliate'
        ].indexOf(jd_get_roles()) === -1) {
            el = document.getElementById('jd_nav_report_receivables');
            if (el) {
                el.parentNode.removeChild(el);
            }
        }
        if (el) {
            el = null;
        }
        if ([
            'Admin',
            'JourdayProvider',
            'SalesResponsible'
        ].indexOf(jd_get_roles()) === -1) {
            el = document.getElementById('jd_nav_report_totals');
            if (el) {
                el.parentNode.removeChild(el);
            }
        }
        if (el) {
            el = null;
        }
        if ([
            'Admin',
            'Traveler'
        ].indexOf(jd_get_roles()) === -1) {
            el = document.getElementById('jd_nav_report_comment');
            if (el) {
                el.parentNode.removeChild(el);
            }
        }
        if (el) {
            el = null;
        }
        if ([
            'Admin',
            'Traveler'
        ].indexOf(jd_get_roles()) === -1) {
            el = document.getElementById('jd_nav_report_review');
            if (el) {
                el.parentNode.removeChild(el);
            }
        }
        if (el) {
            el = null;
        }
    }

    rest_auth.logout();
    jd_user_remove_excess();
    jd_product_remove_excess();
    jd_booking_remove_excess();
    jd_message_remove_excess();
    jd_reports_remove_excess();
    jd_payment_remove_excess();
    jd_auth_remove_excess();
    jd_navbar_links();
    jd_report_remove_excess();
</script>