<div class="container" data-ng-app="pluginCreate" data-ng-controller="createCtr">
    <div data-ng-include="main_navbar"></div>
    <div data-ng-include="admin_navbar"></div>

    <div class="row">
        <div class="col-xs-12">
            <center><div  id="jd_error_container" style="color: red;"></div></center>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <center><div  id="jd_success_container" style="color: darkolivegreen;"></div></center>
        </div>
    </div>
    <div id="plugin_create_container"></div>
    <div id="plugin_edit_container"></div>
</div>