<div class="container" data-ng-app="profile" data-ng-controller="profileCtr">
    <div data-ng-include="main_navbar"></div>
    <div data-ng-include="admin_navbar"></div>
    <div class="row">
        <div class="col-xs-12">
            <center><div  id="jd_error_container" style="color: red;"></div></center>
        </div>
    </div>
    <div>
        <a class="btn btn-info" href="javascript:void 0" onclick="jd_profile_edit_link();">Edit Profile</a>
    </div>
    <div id="user_edit_container"></div>
</div>
