<div class="container" data-ng-app="user" data-ng-controller="userCtr">
    <div data-ng-include="main_navbar"></div>
    <div data-ng-include="admin_navbar"></div>
    <div class="row">
        <div class="col-xs-12">
            <center><div  id="jd_error_container" style="color: red;"></div></center>
        </div>
    </div>
    <div>
        <a class="btn btn-info hidden" href="javascript:void 0" id="jd_user_show_edit">Edit User</a>
    </div>
    <div id="user_edit_container"></div>
</div>